.env
.env.*

.git
.gitignore
.github
.vscode
.idea

node_modules

tests
coverage
test-results
playwright-report
playwright.config.js

db
partner-client
docs
*.md

Dockerfile
.dockerignore
docker-compose*.yml

deploy
monitoring
